* {
  font-family: 'Proxima Nova';
  font-weight: 100;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova";
  text-transform: uppercase;
  font-weight: bold;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  -webkit-font-smothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    display: none;
}

.navbar-brand>img {
  width: 150px;
  margin-top: -25px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#tag {
  display: inline-block;
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: 0.5px;
}

#tag>span {
  color: #FF7F66;
}

.navbar-brand>img:hover {
  transform: scale(1.1);
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #FFFFFF;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 15px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.navbar-default .navbar-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  border: 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #FFFFFF;
}

#background {
  text-align: center;
  display: table;
  height: 100vh;
  width: 100%;
  background-image: url("../img/hero.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

#background .table-cell {
    display: table-cell;
    vertical-align: middle;
}

#backgroundText {
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.7;
  top: 50%;
  left: 50%;
  /*font-weight: bold;*/
}

 #background button {
 position: absolute;
 top: 60%;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 transition: all ease-in-out 0.3s;
 -webkit-transition: all ease-in-out 0.3s;
 background: transparent;
 color: #fff;
 text-transform: uppercase;
 border-radius: 5px;
 padding: 10px 50px;
 font-weight: 400;
 letter-spacing: 2px;
}

#background button:hover {
  background-color: #FFFFFF;
  color: #3E454C;
}

div#about {
  padding-top: 55px;
  padding-bottom: 150px;
}

div#aboutText {
  text-align: center;
}

h2#aboutTitle, h2#workTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
}

p#aboutContent {
  font-size: 20px;
  width: 75%;
  margin: 0 auto;
}

.serviceItemTitle {
  font-size: 20px;
  color: #fff;
  margin-top: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2#aboutTitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

div#service {
  padding-top: 7%;
  padding-bottom: 20px;
}

#webDevIcon, #webDesignIcon, #brandingDesignIcon {
  width: 150px;
  margin: 0 auto;
  display: block;
}

div h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
  font-size: 20px;
}

#serviceContent {
  font-size: 15px;
  text-align: center;
}

#work {
  padding-bottom: 150px;
  padding-top: 55px;
}

h2#workTitle {
  margin-bottom: 4%;
}

#eChartzContent p, #oddjobsContent p, #mappinContent p {
  font-size: 18px;
}

#eChartzContent {
  padding-top: 40px;
}

#eChartzContent a, #oddjobsContent a, #mappinContent a {
  text-transform: uppercase;
  color: #FF7F66;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#eChartzContent a:hover, #oddjobsContent a:hover, #mappinContent a:hover {

  color: #7ECEFD;
  text-decoration: none;
}

#eChartzLogo {
  width: 100px;
  margin-bottom: 10px;
}

#eChartzImage img, #mappinImage img {
  width: 100%;
  float: right;
  border: 5px solid #7ECEFD;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#oddjobsLogo {
  width: 150px;
  margin-left: -7px;
}

#oddjobsImage img {
  width: 100%;
  border: 5px solid #7ECEFD;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#oddjobsImage {
  margin-top: 80px;
}

#eChartzImage img:hover, #mappinImage img:hover {
  opacity: 0.8;
}

#oddjobsContent {
  margin-top: 80px;
  padding-top: 40px;
  margin-bottom: 50px;
  float: right;
}

#mappinLogo {
  width: 150px;
  margin-left: -7px;
}

#mappinImage {
  margin-top: 70px;
}

#mappinContent {
  margin-top: 100px;
  padding-top: 20px;
}

.contact {
  height: 500px;
  width: 100%;
  padding-top: 8em;
  margin-bottom: 10em;
}

#contact_title {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.form-control {
  box-shadow: none;
  letter-spacing: 1px;
}

div#contact {
  background-color: #fff;
}

div#contact .form-group {
  margin-bottom: 25px;
}

div#contact .form-group input,
div#contact .form-group textarea {
  padding: 20px;
  border-color: #414148;
}

.left_input {
  padding-left: 0;
}

.right_input {
  padding-right: 0;
}

textarea.form-control {
  height: 200px;
  width: 100%;
}

.form-control:focus {
  border-color: #7ECEFD;
  box-shadow: none;
}

div#contact .text-danger {
  color: #e74c3c;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 5px;
  margin-bottom: 10px;
}

#contact_button {
  border-radius: 0.3em;
  background-color: transparent;
  color: #3E454C;
  width: 25%;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 5px;
  border: 1px solid #3E454C;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
  outline: none;
  box-shadow: none;
}

#contact_button:hover {
  background-color: #7ECEFD;
  border-color: #7ECEFD;
  color: #fff;
}

footer p {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

footer #socialMedia {
  text-align: center;
  margin-bottom: 2em;
}

#socialMedia a i {
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 20px;
}

#socialMedia a i.fa-facebook {
  color: #3B5998;
}

#socialMedia a i.fa-twitter {
  color: #1DA1F2;
}

#socialMedia a i.fa-instagram {
  color: #833AB4;
}

#socialMedia a i.fa-linkedin {
  color: #0077B5;
}

#socialMedia a i:hover {
  opacity: 0.8;
}

.imgWrap .imgDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.7;
  background-color: #333;
}

.imgDescription>p {
  color: #FFFFFF;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#salman>p {
  margin-top: 55px;
}

#kenan>p {
  margin-top: 40px;
}

#lyn>p {
  margin-top: 35px;
}

#tong>p {
  margin-top: 35px;
}

#wilson>p {
  margin-top: 50px;
}

.social>a>i {
  color: #3E454C;
  padding: 0px 10px 0px 10px;
}

.social>a>i.fa-facebook:hover {
  color: #3B5998;
}

.social>a>i.fa-twitter:hover {
  color: #1DA1F2;
}

.social>a>i.fa-linkedin:hover {
  color: #0077B5;
}

.social>a>i.fa-envelope:hover {
  color: #FF7F66;
}

/* RESPONSIVE STYLING */
@media screen and (max-width: 768px) {
  #background {
    display: none;
  }

  #tag {
    display: none;
  }

  .navbar-toggle.collapsed {
    border: 0px;
  }

  .navbar-brand>img {
    margin-top: -25px;
  }

  #backgroundText {
    transform: translateX(-50%) translateY(-200%);
  }

  #background button {
    transform: translateX(-50%) translateY(-300%);
  }

  #work {
    margin-top: 0;
  }

  #eChartzContent {
    margin-bottom: 20px;
  }

  #oddjobsImage {
    margin-top: 0px;
  }

  #oddjobsContent {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #mappinImage {
    margin-top: 0px;
  }

  #mappinContent {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  h2#workTitle {
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 7%;
  }

  footer>hr {
    width: 75%;
  }
}

@media screen and (max-width: 480px) {

  .navbar-brand>img {
    width: 125px;
    margin-top: -22px;
  }

  #backgroundText {
    transform: translateX(-50%) translateY(-900%);
    font-size: 20px;
  }

  #background button {
    display: none;
  }

  h2#workTitle {
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 10%;
  }

  h2#aboutTitle {
    margin: 0px;
    margin-top: 10%;
  }
}
